<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        <mat-form-field appearance="standard">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Enter title" formControlName="title" autocomplete="off">
            <mat-error *ngIf="form.hasError('required', 'username')">
                Please enter a title
            </mat-error>
        </mat-form-field>
        <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button type="button" mat-button (click)="close()">CLOSE</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">SAVE</button>
    </mat-dialog-actions>
</form>