:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.note-detail {
    flex-grow: 1;
    padding: 1rem;
    font-size: 1rem;

    .title-row {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;

        .button-back {
            align-self: center;
        }

        .title-field {
            flex-grow: 1;
        }
    }
}
