<div class="note-detail">
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="title-row">
            <button class="button-back" type="submit" mat-icon-button color="primary">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>

            <mat-form-field class="title-field" appearance="fill">
                <mat-label>Title (optional)</mat-label>
                <input matInput formControlName="title" autocomplete="off">
            </mat-form-field>
        </div>
        <rich-text-editor formControlName="content" placeholder="Your note"></rich-text-editor>
    </form>
</div>