:host {
    display: block;
}

.empty-list-message-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    p {
        justify-content: center;
    }
}

.notes-list {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-grow: 1;
}

.mat-action-list.mat-list-base {
    width: 100%;
}

.note-card:first-child {
    margin: 0;
}

.note-card {
    margin: 1rem 0;
    color: #000;
    background-color: #fefefe;
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.notes-fab {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}
