:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.empty-list {
    display: flex;
    flex: 1 1 auto;
    flex-grow: 1;
    align-items: center;
    align-self: center;
}

.notes-list {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-grow: 1;
}

.mat-action-list.mat-list-base {
    width: 100%;
}

.note-card:first-child {
    margin: 0;
}

.note-card {
    margin: 1rem 0;
    background-color: #fbfbfb;
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.notes-fab {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}
