:host {
    display: block;
}

.view-content {
    padding: 1rem;
    height: 82vh;
    overflow-y: auto;
}

.empty-list-message-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    p {
        justify-content: center;
    }
}

.notes-list {
    display: block;
    flex-grow: 1;
}

.mat-action-list.mat-list-base {
    width: 100%;
}

.note-card:first-child {
    margin: 0;
}

.note-card {
    margin: 1rem 0;
    color: #000;
    background-color: #fefefe;
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.notes-fab {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 2;
}

.footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    right: 3vh;
    height: 5vh;
    background-color: #fafafa;
    filter: blur(8px);
    z-index: 0;
}